/** @format */

/* Container styling */
.container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Header with cancel button */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cancelButton {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancelButton:hover {
  background-color: #f8f8f8;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Form group */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: bold;
  color: #333;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--text-font);
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}

/* Error styling */
.error {
  color: #ff4d4f;
  font-size: 14px;
}

/* Form actions styling */
.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submitButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: var(--primary-color-dark);
}
