/** @format */

.layout {
  display: flex;
  min-height: 100vh;
}

.sideMenuContainer {
  flex: 0 0 250px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sideMenuContainer {
    flex: 0;
  }

  .content {
    flex: 1;
    padding: 20px;
  }
}
