/** @format */

.layout {
  display: flex;
  min-height: 100vh;
}

.sideMenuContainer {
  flex: 0 0 250px; /* Reserve space for the SideMenu */
  transition: transform 0.3s ease;
}

.content {
  flex: 1;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  overflow-y: auto;
}
